@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

body {
    background-color: #ffdff3;
    height: 90vh;
    max-height: 90vh;
    font-family: 'Lato', sans-serif;
}

.ImagenesIconos {
    width: 35px;
    margin: 10px 25px;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 68px;
    list-style-type: none;
    background: #907486;
    overflow: hidden;
    transition: width .3s;
    z-index: 5;

}

.side-menu:hover {
    width: 300px;
}

.side-menu li {
    width: 300px;
}

.side-menu li span {
    font-size: 1rem;
    margin: 20px 30px 0 22px;
}

.side-menu li a {
    display: block;
    font-size: .9rem;
    text-decoration: none;
    color: #FFF;
    height: 60px;
}

.selected {
    background: #14081d;
    display: block;
}


.Centrado {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

/* estilos productos frecuentes  */
#contenidoProductos {
    margin-left: 68px;
}

h2 {
    text-align: center;
    font-size: 4vh;
    font-family: "Lobster";
    color: #ff1616;
}

#listaProductos {
    background-color: #fff6e5;
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center;
    overflow-y: auto;
}

#inputProducts {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: inherit;
    position: absolute;
    bottom: 5%;
    background-color: white;
    height: 70px;
}

.svg-icon {
    width: 20px;
    height: 20px;
    fill: #fec741;
}

#addProduct {
    margin: 20px 60px;
    font-size: 1.25rem;
    min-width: 20vw;
    max-width: 70vw;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.select {
    width: 100%;
    min-width: 15vw;
    max-width: 20vw;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
}

#productPrice {
    margin: 2%;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    min-width: 6vw;
    max-width: 10vw;
    font-size: 1.25rem;
}

#sendToListButton {
    background-color: #ff1616;
    padding: 5px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}


#supermarkets {
    display: flex;
    justify-content: space-around;
}

h4 {
    text-align: center;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

#addProductButton {
    display: none;
    border-radius: 60%;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: #ff1616;
    cursor: pointer;


}

.icons {
    width: 50px;
}

tr {
    border-bottom: #14081d solid;
    padding: 2px;
}


td {
    max-width: fit-content;
    width: 300px;
    font-size: 1.2rem;
}

#inputRow {
    height: 200px
}

/* responsive  para el side-menu y productos frecuentes*/
@media only screen and (max-width: 915px) {
    .side-menu {
        bottom: 0;
        top: auto;
        height: 60px;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .side-menu:hover {
        width: 100%;
    }

    .side-menu p {
        display: none
    }

    .Centrado {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    #contenidoProductos {
        margin: 10px 10px;
    }

    #listaProductos {
        width: 90vw;
        height: 75vh;
    }

    table {
        margin-top: 25px;
        margin-right: 25px;
    }


    #newProductForm {
        width: 500px;
        height: 500px;
        background: rgb(216, 216, 216);
        margin: 20% auto;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    #addProductModal {
        margin-top: 20%;
        margin-bottom: 10%;
        font-size: 1.25rem;
        min-width: 20vw;
        max-width: 70vw;
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
    }

    .select {
        margin: 5%;
        min-width: 23vh;
        max-width: 20vh;
    }

    #productPriceModal {
        margin: 10%;
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
        max-width: 60vw;
        font-size: 1.25rem;
    }

    #addProductButton {
        display: block;
        position: absolute;
        top: 10%;
        right: 2%;
        height: 70px;
        width: 70px;
        font-size: xx-large;
        line-height: 35px;

    }

    #inputProducts {
        display: none
    }


}

@media only screen and (max-width: 415px) {
    .side-menu {
        bottom: 0;
        top: auto;
        height: 60px;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .side-menu p {
        display: none
    }

    .side-menu:hover {
        width: 100%
    }

    .Centrado {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    #contenidoProductos {
        margin: 10px 10px;
    }

    #listaProductos {
        width: auto;
        max-height: 70vh;
    }

    #inputProducts {
        display: none;
    }


    #newProductForm {
        width: 300px;
        background: rgb(216, 216, 216);
        margin: auto;
        height: 400px;
    }


    #addProductModal {
        margin-top: 20%;
        margin-bottom: 10%;
        min-width: 60vw;
        max-width: 60vw;
    }

    .select {
        width: 100%;
        min-width: 65vw;
        max-width: 66vw;
        border: 1px solid;
        border-radius: 0.25em;
        padding: 0.25em 0.5em;
        font-size: 1.25rem;
        cursor: pointer;
        line-height: 1.1;
        background-color: #fff;
    }

    #productPriceModal {
        margin: 10%;
    }

    #sendToListButtonModal {
        margin: 10%;
        background-color: #ff1616;
        padding: 5px;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    #addProductButton {
        display: block;
        margin-top: 5%;
        position: fixed;
        top: 7%;
        right: 2%;
        height: 50px;
        width: 50px;
        font-size: xx-large;
        line-height: 25px;
    }
}