@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #ffdff3;
    height: 90vh;
    max-height: 90vh;
}

.ImagenesIconos {
    width: 35px;
    margin: 10px 25px;
}

.side-menu {
    font-family: 'Lobster', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 68px;
    list-style-type: none;
    background: #907486;
    overflow: hidden;
    transition: width .3s;

}

.side-menu:hover {
    width: 300px;
}

.side-menu li {
    width: 300px;
}

.side-menu li span {
    font-size: 1rem;
    margin: 20px 30px 0 22px;
}

.side-menu li a {
    display: block;
    font-size: .9rem;
    text-decoration: none;
    color: #FFF;
    height: 60px;
}

.side-menu li a:hover,
.side-menu li:first-child a {
    background: #14081d;
    display: block;
}


.Centrado {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

/* estilos productos frecuentes  */
#contenidoProductos {
    margin-left: 68px;
}

h2 {
    text-align: center;
    font-size: 3vw;
    font-family: "Lobster";
    color: #ff1616;
}

#listaProductos {
    background-color: #fff6e5;
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center;
    overflow-y: auto;
}

.svg-icon {
    width: 20px;
    height: 20px;
    fill: #fec741;
}

#addProduct {
    margin: 20px 60px;
    font-size: 1.25rem;
    min-width: 15ch;
    max-width: 30ch;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.select {
    width: 100%;
    min-width: 30ch;
    max-width: 50ch;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
}

#productPrice {
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    min-width: 5ch;
    max-width: 10ch;
    font-size: 1.25rem;
}

#sendToList {
    background-color: #ff1616;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 20px;
}


#supermarkets {
    display: flex;
    justify-content: space-around;
}

h4 {
    text-align: center;
}


tfoot {
    position: sticky;
}


.modal {
    display: block;

    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

td {
    width: 200px;
}

#inputRow {
    height: 200px
}

/* responsive  para el side-menu y productos frecuentes*/
@media only screen and (max-width: 350px) {
    .side-menu {
        bottom: 0;
        top: auto;
        height: 60px;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .side-menu p {
        display: none
    }

    .Centrado {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    #contenidoProductos {
        margin: 10px 10px;
    }

    #listaProductos {
        width: auto;
    }
}